<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <authentication mode="None" />
    <!--<forms cookieless="UseCookies" defaultUrl="index.aspx" loginUrl="default.aspx" name="osivms" path="/" protection="All" requireSSL="true" slidingExpiration="true" />-->
    <sessionState mode="InProc" cookieless="false" timeout="30" />
    <compilation debug="true" targetFramework="4.0" tempDirectory="C:\Inetpub\vhosts\vibm.in\tmp" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <add value="~/Default.aspx" />
        <!--<add value="~/index.aspx" />-->
        <!--<add value="index.aspx" />-->
        <!--<add value="Home.aspx" />-->
      </files>
    </defaultDocument>
    <httpErrors>
      <remove statusCode="502" subStatusCode="-1" />
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="412" subStatusCode="-1" />
      <remove statusCode="406" subStatusCode="-1" />
      <remove statusCode="405" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="400" />
      <error statusCode="400" path="C:\Inetpub\vhosts\vibm.in\error_docs\bad_request.html" />
      <remove statusCode="407" />
      <error statusCode="407" path="C:\Inetpub\vhosts\vibm.in\error_docs\proxy_authentication_required.html" />
      <remove statusCode="414" />
      <error statusCode="414" path="C:\Inetpub\vhosts\vibm.in\error_docs\request-uri_too_long.html" />
      <remove statusCode="415" />
      <error statusCode="415" path="C:\Inetpub\vhosts\vibm.in\error_docs\unsupported_media_type.html" />
      <remove statusCode="503" />
      <error statusCode="503" path="C:\Inetpub\vhosts\vibm.in\error_docs\maintenance.html" />
      <error statusCode="401" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\vibm.in\error_docs\unauthorized.html" />
      <error statusCode="403" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\vibm.in\error_docs\forbidden.html" />
      <error statusCode="404" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\vibm.in\error_docs\not_found.html" />
      <error statusCode="405" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\vibm.in\error_docs\method_not_allowed.html" />
      <error statusCode="406" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\vibm.in\error_docs\not_acceptable.html" />
      <error statusCode="412" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\vibm.in\error_docs\precondition_failed.html" />
      <error statusCode="500" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\vibm.in\error_docs\internal_server_error.html" />
      <error statusCode="501" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\vibm.in\error_docs\not_implemented.html" />
      <error statusCode="502" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\vibm.in\error_docs\bad_gateway.html" />
    </httpErrors>
    <!--<defaultDocument enabled="true">
            <files>
                <add value="Default.aspx" />
            </files>
        </defaultDocument>-->
  </system.webServer>
  <appSettings>
    <add key="str" value="Data Source=mssql.vibm.in;Initial Catalog=VIBM_CRM;User ID=vibmden_vibm;Password=*DADSTUDIO#1709@" />
    <add key="str3" value="Data Source=167.88.3.210;Initial Catalog=VIBM_CO;Persist Security Info=True;User ID=vibmden_vibm;Password=*DADSTUDIO#1709" />
    <add key="str1" value="Data Source=mssql.vitm.edu.in;Persist Security Info=True;User ID=vgi;Password=8wSng~05" />
    <add key="str2" value="Data Source=DILEEP-PC\SQLEXPRESS;Initial Catalog=VIBM;Integrated Security=True" />
  </appSettings>
  <connectionStrings>
    <add name="str" connectionString="Data Source=mssql.vibm.in;Initial Catalog=VIBM_CRM;User ID=vibmden_vibm;Password=*DADSTUDIO#1709@" />
    <add name="VIBM_CRMConnectionString" connectionString="Data Source=mssql.vibm.in;Initial Catalog=VIBM_CRM;User ID=vibmden_vibm;Password=*DADSTUDIO#1709@" providerName="System.Data.SqlClient" />
    <add name="VIBM_CRMConnectionString1" connectionString="Data Source=mssql.vibm.in;Initial Catalog=VIBM_CRM;Persist Security Info=True;User ID=vibmden_vibm;Password=*DADSTUDIO#1709@" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>